.headingCcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-top: 24px;
  gap: 12px;
  max-width: 320px;
  font-style: normal;
}

.heading {
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
}

.subheading {
  color: #797981;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 77%;
}

.formContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 360px;
  padding-bottom: 163px;
}

.formContent label {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.navigation {
  display: flex;
  gap: 40px;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 50px;
  width: 50%;
}

.controlsRight {
  align-items: flex-end;
}

.stepbar {
  min-width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #DDE0E4;
  ;
}

.stepbarActive {
  background-color: #5A9BFF;
}

.button {
  padding: 15px 0;
  width: 189px;
  border: none;
  border-radius: 6px;
  color: #FFF;
  background-color: #5A9BFF;
  cursor: pointer;
}

.buttonBack {
  color: #1D6BF3;
  background-color: transparent;
  border: 1px solid #1D6BF3;
}

.buttonBack:hover {
  color: #FFF;
  background-color: #1D6BF3;
  border: none;
}

.buttonBack:focus {
  color: #FFF;
  background-color: #1D6BF3;
  border: none;
}

.buttonSubmit:hover {
  background-color: #1D6BF3;
}

.buttonSubmit:focus {
  background-color: #1D6BF3;
}

.button:disabled {
  color: #B5B5B7;
  background-color: transparent;
  border: 1px solid #B5B5B7;
}