.container {
  display: flex;
  flex-direction: column;
  width: 486px;
  height: 680px;
  padding: 20px 24px;
  background-color: #F9FAFB;
}

.list {
  margin: 0;
  padding-left: 20px;
}

.list p {
  margin: 0;
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text span {
  font-weight: 500;
}

.heading {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
