.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px 24px;
  gap: 4px;
  background-color: inherit;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text span {
  font-weight: 500;
}

.favorite {
  transition: opacity linear 0.2s;
}

.favorite:hover {
  opacity: 0.7;
}
