.content {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* TODO отступ между header и другими элементами странички, потеряет смысл, когда появятся padding и margin у страничек */
  gap: 20px;

  /* TODO имеет смысл убрать, т.к. носит декоративный характер */
  text-align: center;
}
