.container {
  background-image: url('../../media/BG.png');
  background-color: '#000';
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 250px;
  width: 100%;
  margin: 0;
  padding: 0;
}