.title {
  margin-bottom: 24px;

  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  max-height: 680px;
  overflow: auto;
  list-style: none;
}

.cards::-webkit-scrollbar {
  width: 0;
}

.preview {
  padding: 20px 24px;
}
