.container {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 16px;
}

.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.lastSeen {
  color: #b5b5b7;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.position {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
