.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.lastSeen {
  color: #B5B5B7;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.position {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}