.icon {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
}

.typography {
  font-feature-settings:
    'clig' off,
    'liga' off;

  font-size: var( --body-1);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
