.button {
  text-transform: none;
  min-width: 200px;
  min-height: 56px;

  font-feature-settings:
    'clig'off,
    'liga'off;
  font-size: var(--body-1);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

}

.filled {
  background-color: var(--card-chart-blue-major);
  color: var(--color-white);
}

.filled:hover {
  background-color: var(--color-blue-main);
}

.filled:focus {
  background-color: var(--color-blue-main);
}

.filled:disabled {
  background-color: var(--color-black-300);
}

.outlined {
  background-color: transparent;
  outline: 1px solid var(--color-blue-main);
  color: #1D6BF3;
}

.outlined:hover {
  color: var(--color-white);
  background-color: var(--color-blue-main);
  border: none;
}

.outlined:focus {
  color: var(--color-white);
  background-color: var(--color-blue-main);
  border: none;
}

.outlined:disabled {
  color: var(--color-black-300);
  background-color: transparent;
  border: 1px solid var(--color-black-300);
}